<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    
    <header class="header">
        <div class="header-inner container1">
            <a href="/" class="header-inner-left">
                <img src="./images/icons/logo.svg" alt="" class="header-inner-left__img">
            </a>

            <div class="header-inner-center">
                <form class="header-inner-center-form">
                    <input type="search" placeholder="Search..." class="header-inner-center-form__input">
                </form>
            </div>

            <div class="header-inner-right">
                <a href="/account" class="header-inner-right-profile">
                    <img src="./images/profile.png" id="img-holder" alt="" class="header-inner-right-profile__img">
                </a>
            </div>
        </div>
    </header>

    <main class="main-section">
        <div class="main-section-left">
            <ul class="main-section-left-wrapper"></ul>
        </div>

        <div class="main-section-right">
            <div class="video-block"></div>
        </div>
        </div>
    </main>

    <script src="/scripts/main.js"></script>
</body>
</html>